$light-white: #fafffe; // used in text on brown background
$brown: #68423f; // brown background
$dark-brown: #573c33; // used in brown background accent (active)
$dark-grey: #1e1e1e; // used in calculator background
$very-dark-grey: #121212; // used in calculator symbols background
$grey: #949494; // used in calculator numbers
$blue: #345f95; // used in setting icon
$wallet-brown: #422e27; // used in wallet background
$wallet-text: #a59b95; // used in wallet text
$light-blue: #6097f3; // used in new transaction icon
$orange: #f69e17; // used in new transfer icon
